.add {
    font-style: italic;
}

.center {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonDesign {
    justify-content: center;
    align-items: center;
    width: 200px; /* Change the width to your desired value */
    height: 50px; /* Change the height to your desired value */
    background-color: bisque; /* Button background color */
    color: #000000; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Button text size */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.buttonDesign:hover {
    background-color: rgb(255, 233, 206);
}