.status-display {
    color: black;
    width: 100%;
    height: 100%;
}

.status-display.white {
    background-color: white;
}

.status-display.yellow {
    background-color: yellow;
}

.status-display.pink {
    background-color: pink;
}

.status-display.orange {
    background-color: orange;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.status-display.rainbow {
    background: linear-gradient(45deg, #ff5454, #ffa454, #ffe855, #50ff50, #4d4dff, #a04dff, #ff4bff);
    background-size: 400% 400%;
    animation: rainbow 15s ease infinite; /* Adjust the animation duration as needed */
}